    <!DOCTYPE html>
    <html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>大清答题卡识别</title>
    </head>
    <body>
    <div class="row">
    <div class="col-md-2 col-md-offset-4">

    <h1>试卷上传</h1>
    <form method=post enctype=multipart/form-data>
    <div class="radio">
      <label>
        <input type="radio" name="answersheettype" value="halfpage" checked>
        半页答题卡（35题）
      </label>
      <label>
        <input type="radio" name="answersheettype" value="fullpage">
        全页答题卡（75题）
      </label>
      <label>
        <input type="radio" name="answersheettype" value="handwriting">
        手写答题卡
      </label>
    </div>

    <div class="form-group">
         <label for='standard'>标准答案扫描件<input type=file name=standard /></label>
    </div>
         <label for='standard'>学生答题卡（可多选）
         <input type=file name=answers multiple>
         </label>
         <input type=submit value="上传" class="btn btn-default">
     </div>
    </form>
    </div>
    </div>
    </body>
</html>
    