    {% for p in params %}
    <tr class='{{p[3]}}'>
        <td scope="row" class='text-center' style="min-width: 50px;">
            {{p[4]}}
        </td>
        <td class='text-center' style="min-width: 200px;">
        {{p[0]}} ( {{p[1]}} )
        </td>
	<td class="text-center" style="min-width: 50px;">
	{{(100*p[0]/p[1])|round(1, 'common')}}%
	</td>
        <td class='text-center' style="min-width: 50px;">
            <progress value="{{p[2]}}" max="100"></progress>
        </td>
        <td class='text-center'>
            {% for t in p[5] %}
                <a tabindex="0" class="btn btn-xs btn-info" role="button" data-toggle="popover" data-trigger="focus" title="姓名" data-content="<img src='/name/{{token}}/{{t[1]}}' width=100%>">{{t[0]}}
                </a>

            {% endfor %}
        </td>
    </tr>
    {% endfor %}
